@tailwind base;
@tailwind components;
@tailwind utilities;
body > div,
#__next,
#__next > div {
	/* #__next > div > div { */
	height: 100%;
}

.hero {
	width: 100%;
	color: #333;
}

.title {
	margin: 0;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
	line-height: 1.15;
	font-size: 48px;
}

.title,
.description {
	text-align: center;
}
